.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  height: 100%;
  gap: 1rem;
  box-sizing: border-box;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scrollContainer {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  margin-top: 1rem;
}

.userList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 0.5rem;
}

.notify {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scrollContainer::-webkit-scrollbar {
  width: 4px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-300);
  border-radius: 4px;
}

.scrollContainer::-webkit-scrollbar-track {
  background-color: var(--color-dark-100);
}

.scrollContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark-700);
}
