.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  text-decoration: none;
}
.user {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--color-dark-300);
  border: 1px solid var(--color-dark-500);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
