.sendMessageBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;

  gap: 0.5rem;

  .inputWrapper {
    flex: 1;
    margin-right: 10px;

    input {
      width: 100%;
      padding: 10px;
      border: 2px solid var(--color-dark-300);

      border-radius: 20px;
      font-size: 14px;

      &:focus {
        outline: none;
        border-color: var(--color-info-700);
      }
    }
  }
}
.uploadDropDown {
  position: absolute;
  top: 450px;
  display: flex;
  flex-direction: column;
  //background-color: var(--color-dark-300);
  border-bottom: 1px solid var(--color-dark-300);

  gap: 0;
}

.uploadItem {
  display: flex;
  height: 2rem;
  padding: 2px;
  gap: 0.5rem;
  .fileLoader {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  background-color: var(--color-dark-500);
  &:hover {
    background-color: var(--color-dark-700);
  }
}
