.root {
  border: 1px solid var(--color-dark-300);
  height: 60vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 800px;
}

.messagesBlock {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
